# Database Configuration
DB_HOST=my3tierdb.c9m8ywsmmn3q.ap-south-1.rds.amazonaws.com
DB_USER=admin
DB_PASSWORD=root123456
DB_NAME=webappdb
DB_PORT=3306
DB_CONNECTION_LIMIT=10

# Application Port
PORT=4000
